<div class="flex flex-col h-screen items-center">
    <div class="flex flex-col w-full flex-wrap">
        <app-navbar></app-navbar>
    </div>
    <div class="w-full p-4 md:p-0 md:w-[50%] mt-10 flex flex-col align-top">
        <div class="text-3xl font-extrabold text-gray-700">Manage your saved resumes:</div>
        @for(resume of resumes(); track resume){
            <div class="bg-white shadow-lg border flex-shrink rounded-md mt-4 border-gray-200 transform transition-all">
                <div class="bg-white transform transition-all">
                    <div class="flex flex-nowrap flex-col justify-between">
                        <div class="px-2 py-3 text-2xl font-bold tracking-tight text-gray-900">
                            {{resume.title}}
                        </div>
                        <div class = "flex flex-col md:flex-row justify-between ">
                            <span class="flex p-2 w-full">
                                <button (click) = "copyResumeLink(resume.id)" type="button"  
                                    class="flex p-2 w-full rounded-md  items-center justify-center  border border-transparent bg-gray-700 text-base leading-6 font-medium text-white shadow-sm hover:bg-gray-200 hover:text-gray-900 focus:outline-none focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                    Copy link <mat-icon class = "ml-1">link</mat-icon>
                                </button>
                            </span>
                            <span class="flex p-2 w-full ">
                                <button type="button" (click) = "openResume(resume.id)"
                                    class="flex p-2 w-full items-center justify-center  rounded-md border  bg-gray-700 text-base leading-6 font-medium text-white shadow-sm hover:text-gray-700 hover:bg-gray-200 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                    Open <mat-icon class = "ml-1">open_in_new</mat-icon>
                                </button>
                            </span>
                            <span class="flex p-2 w-full ">
                                <button type="button" (click) = "openEditResume(resume.id)"
                                    class="flex p-2 w-full items-center justify-center  rounded-md border  bg-gray-700 text-base leading-6 font-medium text-white shadow-sm hover:text-gray-700 hover:bg-gray-200 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                    Edit <mat-icon class = "ml-1">edit</mat-icon>
                                </button>
                            </span>
                            <span class="flex p-2 w-full">
                                <button type="button" (click) = "deleteResume(resume.id)"
                                class="flex w-full p-2  items-center justify-center  rounded-md border border-transparent  bg-gray-100 text-base leading-6 font-medium text-gray-700 shadow-sm hover:bg-gray-200 hover:text-gray-900 focus:outline-none focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                    Delete <mat-icon class = "ml-1">delete_outline</mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
      </div>
</div>