<mat-dialog-content>
  <div class="mt-3 text-center">
    <h3 class="leading-6 font-medium text-gray-900">
      Almost there! Name your resume:
    </h3>
    <div class="mt-2">
      <form [formGroup]="titleForm">
        <mat-form-field class="w-full">
          <input formControlName="title" matInput />
        </mat-form-field>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onOkClick()">Ok</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>