<div class=" min-w-96  border border-gray-200 mx-4 bg-white rounded-md text-gray-900">
    <div class="rounded-t-lg overflow-hidden">
        <app-file-upload [fileInputType] = "FileInputType.Background" class = "my-1"></app-file-upload>
        <img class="object-fill object-top w-full"
            src='../../../../../assets/img/placeholder.jpeg'
            alt='Mountain'>
    </div>
    <div class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden">
        <img class="object-cover object-center h-32"
            src='../../../../../assets/img/img-placeh.png'
            alt='Profile picture'>
    </div>
    <input type="file" class="hidden" (change)="onFileSelected($event)" #fileUpload>
    <app-file-upload [fileInputType] = "FileInputType.Profile"></app-file-upload>
    <!-- Form -->
    <form [formGroup]="profileForm" class="text-center pt-2 flex flex-col p-4">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input formControlName="name" matInput placeholder="Sarah Smith">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Job Title</mat-label>
            <input matInput formControlName="jobTitle" placeholder="Angular Developer">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Profile description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="description"></textarea>
        </mat-form-field>
    </form>
</div>