<div class="my-4 text-base w-full py-4 border border-gray-200 p-6 bg-white rounded-lg shadow-lg">
    <div class="text-xl font-semibold">Contact</div>
    <div class="py-1">
        <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
            <li class="flex items-center">
                <mat-icon class="mx-2">phone</mat-icon>+48 222 222 222
            </li>
            <li class="flex items-center">
                <mat-icon class="mx-2">mail</mat-icon> mail(at)gmail.com
            </li>
            <li class="flex items-center">
                <mat-icon class="mx-2">home</mat-icon> Berliner St. 14 22-222 New
                York
            </li>
        </ul>
    </div>
</div>