<div
  class="my-4 text-base w-full py-4 border border-gray-200 p-6 bg-white rounded-lg shadow"
>
  <button (click)="deleteElement($event)" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  <div class="text-xl font-semibold">Contact</div>
  <div class="py-1">
    <form [formGroup] = "contactForm" class="text-center pt-2">
      <li class="flex flex-col items-center border-gray-700">
        <mat-form-field class="w-full">
          <mat-icon class="mx-2">phone</mat-icon
          ><input formControlName="phone" matInput placeholder="Phone number" />
        </mat-form-field>
      </li>
      <li class="flex flex-col items-center border-gray-700">
        <mat-form-field class="w-full">
          <mat-icon class="mx-2">mail</mat-icon
          ><input formControlName="email" matInput placeholder="E mail" />
        </mat-form-field>
      </li>
    </form>
  </div>
</div>
