<div class="mb-5 w-full">
    <div class="bg-white rounded-md shadow-lg transform transition-all">
        <div class="flex flex-col p-6 my-4 bg-white border border-gray-200 rounded-lg">
            <div class="mb-2 text-xl font-bold tracking-tight text-gray-900">
                Noteworthy technology acquisitions 2021
            </div>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021 so
                far, in reverse chronological order.
            </p>
        </div>
    </div>
</div>