
<div class = "overflow-y-auto">
    <div class = "md:flex items-end block md:fixed z-10 bg-black ">
        <nav class=" bg-gray-900 text-gray-100 ">
            <div class="w-[100%] flex flex-wrap items-center justify-between p-4">
              <div class="flex items-center">
                  <img src="../../../assets/img/logo.png" class="h-8" alt="Resumeey Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Created with Resumeey</span>
              </div>
            </div>
        </nav>
    </div>
    
    <div class = "w-full mt-10 flex justify-center align-top">
        <div
        class="w-full flex flex-col md:flex-row gap-8 mx-[20%] my-12  justify-start align-center"
      >
        <app-profile-card-view [componentData] = "profileData" class = "w-full md:w-[60%]" #profileCard></app-profile-card-view>
        <div class = "w-full ">
          <div #parent class="w-full flex-shrink">
          </div>
        </div>
      </div>
    </div>
</div>
